body{
 background-color: #EEE;
 margin: 0px;
 font:16px/1 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif
}

a:focus{outline:1px dotted}
hr{border:0 #ccc solid;border-top-width:1px;clear:both;height:0}
h1{font-size:30px}
h2{font-size:20px}
h3{font-size:25px}
h4{font-size:19px}
h5{font-size:17px}
h6{font-size:15px}
h7{font-size:16px}
ol{list-style:decimal}
ul{list-style:disc}
li{margin-left:30px}
p,dl,hr,h1,h2,h3,h4,h5,h6,h7,ol,ul,li,pre,table,address,fieldset{margin-bottom:10px}

.clear{clear:both;display:block;overflow:hidden;visibility:hidden;width:0;height:0}.clearfix:after{clear:both;content:' ';display:block;font-size:0;line-height:0;visibility:hidden;width:0;height:0}* html .clearfix,*:first-child+html .clearfix{zoom:1}

/*!--- ---*/